<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCPtP_gBFGQswLicZwxsZX-MFqQ6-XZ3J4</string>
	<key>GCM_SENDER_ID</key>
	<string>308377914214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appDevProject</string>
	<key>PROJECT_ID</key>
	<string>donation-app-89449</string>
	<key>STORAGE_BUCKET</key>
	<string>donation-app-89449.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308377914214:ios:925154850298ddf22496a7</string>
</dict>
</plist>